.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    margin-bottom: 150px;
}

nav ul li{
    list-style: none;
}

.nav-titile{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
    
}

.btn{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
    
}

.btn-second{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 150px;
}

header{
    background-image: url(../Assets/Hero-bg.png)
    
}
.secondary-bg{
    background-color: #F5F8FF;
}

.banner{
    text-align: center;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    color: #252432;
}

.webflow{
    max-width: 1140px;
    padding: 120px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.web-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.web-description{
    font-size: 24px;
    color: #25243280;
    margin-top: 23px;
    margin-bottom: 23px;
}
.webflow-right{
    border-radius: 48px;
}
.productive-title{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: #252432;
}
.productive{
    max-width: 1140px;
    
    
}
.Productive-page{
    max-width: 1140px;
    margin: 0 auto;
   background-color: #4E47FF1A;
   padding: 50px 80px;
   border-radius: 24px;
   margin-bottom: 140px;
}

.productive-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.data-info{
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
}
.data-des{
    font-size: 20px;
    color: #00000080;
}

.fa-star{
    color: orange;
}

.users{
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 50px;
    margin-bottom: 120px;
}
.name{
    color: #757575;
}
.users-title{
    text-align: center;
}
.user-one{
    
    background-color: white;
    border-radius: 14px;
    padding: 24px;
}
.profile{
    display: flex;
    gap: 12px;
}
.photo{
    width: 40px;
    border-radius: 50%;

}
.users-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.users-title{
    font-size: 42px;
    font-weight: 700;

}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 120px;
}
.form-title{
    font-size: 97px;
    font-weight: 700;

}


.input-one{
    height: 35px;
    width: 490px;
    padding: 20px 32px;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
}

.input-two{
    height: 135px;
    width: 490px;
    padding: 20px 32px;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
}

.btn-three{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border-style: none;
    height: 62px;
    width: 560px;
    margin-top: 20px;
}

.inp{
    font-size: 18px;
    font-weight: 600;
}
.logo{
    max-width: 600px;
    margin: 100px auto;
    
}

.logo-title{
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 8px;
}
.logo-description{
    color: #8987A1;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.footer-link{
    display: flex;
    justify-content: space-between;
}
footer a{
    text-decoration: none;
    color: #8987A1;
    font-size: 18px;
    font-weight: 500;
}